.cloud-page {
  .banner-area {
    background-color: #ecf7fe;
    margin-bottom: 0;
  }
  > section {
    margin-bottom: 0px;
    padding: 6rem 0;
    .cm-brand-logo {
      width: 100%;
      max-width: 250px;
      margin: 0 auto;
      display: block;
      margin-bottom: 2rem;
    }
  }
  > .row-1 {
    background-color: #c1e5cb;
  }
  > .row-2 {
    background-color: #ffe0b2;
  }
  > .row-3 {
    background-color: #ccdef8;
  }
  
  @media (max-width: 767px) {
    > section {
      padding: 3rem 0;
    }
  }
}
