.web-development-page {
  .banner-area {
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #eaedef;
    margin-bottom: 0px;
    padding-bottom: 0;
    overflow: hidden;
    img {
      width: 100%;
      max-width: 480px;
      margin: 0 auto;
      display: block;
      margin-bottom: -17px;
    }
  }
  > section {
    margin-bottom: 0px;
    padding: 6rem 0;
    .align-items-center {
      justify-content: space-between;
      .align-right {
        text-align: right;
        img {
          display: inline-block;
        }
      }
      img {
        width: 100%;
        max-width: 480px;
        display: block;
        margin: 0 auto;
      }
    }
  }
  > .row-1 {
    background-color: #f2fbff;
  }
  > .row-2 {
    background-color: #ffedd3;
  }
  > .row-3 {
    background-color: #331447;
    color: #fff;
    h2 {
      color: #fff;
    }
  }
  > .row-4 {
    background-color: #f3f2fa;
    ul {
      padding: 0;
      list-style: none;
    }
  }
  > .row-5 {
    background-color: #365f8b;
    color: #fff;
    h2 {
      color: #fff;
    }
  }

  @media (max-width: 767px) {
    > section {
      padding: 3rem 0;
      .align-items-center {
        justify-content: space-between;
        .align-right {
          text-align: right;
        }
        img {
          max-width: 380px;
          margin-bottom: 3rem;
        }
      }
    }
  }
}
