.interface-design-page {
    .banner-area {
      background-color: #fff;
      margin-bottom: 0;
    }
    > section {
      margin-bottom: 0px;
      padding: 6rem 0;
      .align-items-center {
        justify-content: space-between;
        .align-right {
          text-align: right;
          img {
            display: inline-block;
          }
        }
        img {
          width: 100%;
          max-width: 480px;
          display: block;
          margin: 0 auto;
        }
      }
    }
    > .row-1 {
      background-color: #edeffb;
    }
    > .row-2 {
      background-color: #ffedee;
    }
    > .row-3 {
      background-color: #f2dcd0;
    }
    > .row-4 {
      background-color: #f1f9ff;
    }
    > .row-5 {
      background-color: #ffddc1;
    }

  
    @media (max-width: 767px) {
      > section {
        padding: 3rem 0;
        .align-items-center {
          justify-content: space-between;
          .align-right {
            text-align: right;
          }
          img {
            max-width: 380px;
            margin-bottom: 3rem;
          }
        }
      }
    }
  }
  