.emerging-technology-page {
  .banner-area {
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    margin-bottom: 0px;
    padding-bottom: 4rem;
    overflow: hidden;
  }
  > section {
    margin-bottom: 0px;
    padding: 6rem 0;
    .align-items-center {
      justify-content: space-between;
      .align-right {
        text-align: right;
        img {
          display: inline-block;
        }
      }
      img {
        width: 100%;
        max-width: 480px;
        display: block;
        margin: 0 auto;
      }
    }
  }
  > .row-1 {
    background-color: #edeffb;
  }
  > .row-2 {
    background-color: #d7ecff;
  }
  > .row-3 {
    background-color: #7f6eac;
    color: #fff;
    h2 {
      color: #fff;
    }
  }
  > .row-4 {
    background-color: #e9f6fc;
  }
  > .row-5 {
    background-color: #e5fcff;
  }
  > .row-6 {
    background-color: #00bef4;
    color: #fff;
    background-image: url('../images/emerging-technology/cloud-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  @media (max-width: 767px) {
    > section {
      padding: 3rem 0;
      .align-items-center {
        justify-content: space-between;
        .align-right {
          text-align: right;
        }
        img {
          max-width: 380px;
          margin-bottom: 3rem;
        }
      }
    }
  }
}
