.degital-marketing-page {
  .full-width-banner-area {
    padding-top: 129px;
  }
  > section {
    margin-bottom: 0px;
    padding: 6rem 0;
    .align-items-center {
      justify-content: space-between;
      .align-right {
        text-align: right;
        img {
          display: inline-block;
        }
      }
      img {
        width: 100%;
        max-width: 480px;
        display: block;
        margin: 0 auto;
      }
    }
  }
  > .row-1 {
    background-color: #f0f8fa;
  }
  > .row-2 {
    background-color: #ffcecd;
  }
  > .row-3 {
    background-color: #ffffff;
    .list-item {
      display: inline-block;
      text-align: left;
    }
  }
  > .row-4 {
    background-color: #f1f9ff;
  }
  > .row-5 {
    background-color: #d0eff2;
  }
  > .row-6 {
    background-color: #f1f9ff;
  }
  > .row-7 {
    background-color: #ffdcde;
  }
  > .row-8 {
    background-color: #f1f9ff;
  }

  @media (max-width: 767px) {
    > section {
      padding: 3rem 0;
      .align-items-center {
        justify-content: space-between;
        .align-right {
          text-align: right;
        }
        img {
          max-width: 380px;
          margin-bottom: 3rem;
        }
      }
    }

    .full-width-banner-area {
      padding-top: 83px;
    }
  }
}
