.branding-page {
  .banner-area {
    background-color: #fff;
    margin-bottom: 0;
  }
  > section {
    margin-bottom: 0px;
    padding: 6rem 0;
    .align-items-center {
      justify-content: space-between;
      .align-right {
        text-align: right;
        img {
          display: inline-block;
        }
      }
      img {
        width: 100%;
        max-width: 480px;
        display: block;
        margin: 0 auto;
      }
    }
  }
  > .row-1 {
    background-color: #def6e5;
  }
  > .row-2 {
    background-color: #ede4ff;
  }
  > .row-3 {
    background-color: #feeafa;
  }
  > .row-4 {
    background-color: #f1f9ff;
  }
  > .row-5 {
    background-color: #d0eff2;
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
  > .row-6 {
    background-color: #f8ddf9;
  }
  .list-item-right {
    display: inline-block;
    text-align: left;
  }

  @media (max-width: 767px) {
    > section {
      padding: 3rem 0;
      .align-items-center {
        justify-content: space-between;
        .align-right {
          text-align: right;
        }
        img {
          max-width: 380px;
          margin-bottom: 3rem;
        }
      }
    }
  }
}
