.banner-area {
  font-size: 1.2rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-bottom: 5rem;
  background-color: #ecf7fe;
  h2 {
    color: #084c94;
  }
  p {
    color: #084c94;
  }
  .banner-button {
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.33rem;
    font-weight: 500;
    padding: 1rem 3rem;
    border-radius: 2.5rem;
    background: #4f89ae;
    box-shadow: 0px 1.33rem 2.5rem #4f89ae69;
    color: #fff;
    border: none;
  }
  .align-items-center {
    justify-content: space-between;
  }
  img {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 1200px) {
  .banner-area {
    .banner-button {
      font-size: 1.2rem;
      padding: 1rem 2.5rem;
      margin-top: 1.2rem;
    }
  }
}

@media (max-width: 991px) {
  .banner-area {
    font-size: 1rem;
    padding-top: 13rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    .order-md-first {
      -ms-flex-order: 2;
      order: 2;
    }

    img {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      display: block;
      margin-bottom: 1rem;
    }

    .align-items-center {
      text-align: center;
    }

    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    .banner-button {
      font-size: 1rem;
      padding: 1rem 2.5rem;
      margin-top: 1rem;
    }
  }
}

@media (max-width: 767px) {
  .banner-area {
    padding-top: 10rem;
    .align-items-center {
      text-align: center;
    }
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .banner-button {
      font-size: 1rem;
      padding: 1rem 2rem;
    }
  }
}
