footer {
  background-image: linear-gradient(-155deg,rgba(74,148,214,.4) 45%,rgba(255,255,255,.08) 15%),linear-gradient(258deg,rgba(87,238,255,.1),rgba(77,108,211,.2));
  background: url('../images/footer-bg.svg') no-repeat 0 0/cover;
  background-color: #26053A;
  color: #fff;
  font-size: 1rem;
  h5 {
    color: #fff;
    font-size: 1.7rem;
  }
  ul {
    list-style: none;
    padding: 0;
    &.footer-nav {
      li {
        margin: 15px 0;
      }
    }
  }
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  .subscribe-form {
    .form-control {
      border: 1px solid #707070;
      border-radius: 9px;
      padding: 0.8rem 1rem;
      font-size: 1.2rem;
      font-weight: 400;
      width: 100%;
    }
    .btn {
      background: #7140ca;
      color: #fff;
      border: none;
      border-radius: 0.75rem;
      padding: 0.8rem 3rem;
      font-size: 1.2rem;
      cursor: pointer;
    }
    .form-group {
      margin-bottom: 2rem;
    }
  }
  .sub-footer {
    padding: 1.5rem 0;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      li {
        margin: 15px 20px;
      }
      img {
        vertical-align: middle;
      }
    }
  }
  .main-footer {
    .footer-column {
      margin-top: 3em;
      margin-bottom: 3em;
    }
  }

  .contact {
    img {
      vertical-align: middle;
      margin-right: 1rem;
    }
    li {
      margin-bottom: 1em;
    }
  }

  .sub-footer {
    img {
      width: 3rem;
      height: 2rem;
    }
  }
}

@media (max-width: 991px) {
  footer {
    .sub-footer {
      img {
        width: 3rem;
        height: 2rem;
      }
    }

    .main-footer {
      .col-md-3 {
        flex: 0 0 45%;
        max-width: 45%;
        order: 2;
      }

      .col-md-5 {
        order: 3;
        flex: 0 0 100%;
        max-width: 100%;
      }

      .col-md-4 {
        order: 1;
        flex: 0 0 100%;
        max-width: 100%;
      }

      .col-12 {
        flex: 0 0 50%;
        max-width: 50%;
      }

      .footer-column {
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }
  }
}

@media (max-width: 767px) {
  footer {
    .main-footer {
      .col-md-6 {
        width: 50%;
      }

      .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
      }

      .col-md-4 {
        order: 2;
      }
    }
  }
}

@media (max-width: 560px) {
  footer {
    .main-footer {
      .col-12 {
        flex: 0 0 100%;
        max-width: 100%;
      }

      .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
      }
    }
  }
}

@media (max-width: 480px) {
  footer {
    .main-footer {
      .col-md-6 {
        width: 100%;
      }
    }

    .sub-footer {
      img {
        width: 1.5rem;
        height: 1.5rem;
        min-width: 1.5rem;
      }
    }
  }
}
