form {
  max-width: 500px;
  padding: 20px;
}

.btn {
  display: inline-block;
  font-size: 1.33rem;
  font-weight: 500;
  padding: 1rem 3rem;
  border-radius: 2.5rem;
}

@media (max-width: 1200px) {
  .btn {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    margin-top: 1.2rem;
  }
}

@media (max-width: 991px) {
  .btn {
    font-size: 1rem;
    padding: 1rem 2.5rem;
    margin-top: 1rem;
  }
}

.btn-primary {
  background: #4f89ae;
  box-shadow: 0px 1.33rem 2.5rem #4f89ae69;
  color: #fff;
  border: none;
  transition: color 0.2s linear;
  &:hover,
  &:focus {
    color: #efefef;
    outline: none;
    box-shadow: 0px 1.33rem 2.5rem #4f89ae69;
  }
}

.ex-button {
  margin: 0;
  cursor: pointer;
  display: inline-block;
  border-style: solid;
  text-decoration: none;
}

.ex-button:hover,
.ex-button:focus {
  text-decoration: none;
}

.ex-form label {
  display: block;
  float: none;
  width: auto;
  font-weight: normal;
  text-align: left;
  padding-top: 0;
  margin-bottom: 4px;
}


.ex-form  label {
  margin-top: .5rem;
  color: $red;
}

.form-title {
  padding: 0 20px;
}

input.ex-input,
textarea.ex-input,
input[type="password"] {
  display: inline-block;
  width: 100% !important;
  height: auto !important;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  background-color: #fff;
  outline: 0;
}

input[type="password"] {
  margin-bottom: 18px;
}

.ex-input[type=checkbox],
.ex-input[type=radio] {
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 5px 3px 0px;
  line-height: normal;
  border: none;
  width: auto !important;
}

.ex-input[type=file] {
  background-color: #fff;
  padding: initial;
  border: initial;
  line-height: initial;
  box-shadow: none;
}

.ex-input:-moz-placeholder {
  color: $red;
}

.ex-input::-webkit-input-placeholder {
  color: $red;
}

.ex-input input,
.ex-input textarea {
  transition: border 0.2s linear;
}

.ex-input:focus {
  outline: none;
}

textarea.ex-input {
  height: auto;
}

@media (max-width: 767px) {
  form {
    max-width: 100%;
    padding: 20px 0px;
  }
}
