.header-container {
  background: #fff;
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  transition: 0.3s;
  padding: 1.5rem 0;
  font-size: 1rem;
  box-shadow: 0px 0px 4px 0px #1f03302e;
  .country-language {
    margin-right: 0.8rem;
  }
  .mobile-trigger {
    display: none;
  }
  .contact-sales i {
    margin-right: 6px;
    position: relative;
    top: -1px;
  }
  &.scroll {
    top: 0;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 0px 15px 0px #1f03302e;
  }

  @media (min-width: 768px) {
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      align-items: center;
      padding-left: 0;
      li {
        a {
          color: #112751;
          display: flex;
          align-items: center;
          padding: 5px;
          .icon--arrow-bottom {
            width: 1rem;
            height: 1rem;
            margin-left: 0.5rem;
            vertical-align: middle;
            display: inline-block;
          }
        }
      }
      &.right {
        justify-content: flex-end;
        & > li {
          margin-right: 0;
          margin-left: 1.6rem;
        }
      }

      .child-menu-wrap {
        position: relative;
        .child-menu {
          position: absolute;
          top: 100%;
          padding: 16px 0;
          list-style: none;
          border-radius: 0 0 3px 3px;
          visibility: hidden;
          opacity: 0;
          z-index: 1;
          transition: 0.3s;
          min-width: calc(100% + 20px);
          left: -25px;
          background-color: #fff;
          min-width: 16rem;
          display: block;
          line-height: 1;
          padding: 0;
          box-shadow: 8px 11px 13px 0px #1f03302e;
          margin-top: 1rem;
          padding-top: 3rem;
          padding-bottom: 1rem;
          li.dl-back-btn {
            display: none;
          }
          li {
            a {
              padding: 1rem;
            }
          }
          .icon--arrow-right {
            position: relative;
            width: 8px;
            height: 12px;
            top: 1px;
            display: inline-block;
            vertical-align: middle;
            margin-left: auto;
            margin-right: 1rem;
          }
          .child-menu.label-3 {
            top: 0 !important;
            left: 100% !important;
            padding-top: 1rem;
            padding-bottom: 1rem;
          }
        }
      }

      .child-menu-wrap:hover > .child-menu {
        visibility: visible;
        opacity: 1;
        margin-top: 0;
      }
    }

    .mobile-bottom-content {
      display: none;
    }
  }

  .top-pane {
    margin-bottom: 1rem;
  }

  .flag-icon {
    width: 1.5rem;
}

  .main-header {
    background: #fff;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        width: 220px;
        img {
          width: 100%;
        }
      }
    }
  }
  .search-wrapper {
    position: relative;
    .search-field {
      background-color: transparent;
      border: none;
      box-shadow: none;
      transition: all 0.3s;
      border-radius: 15px;
      padding: 8px 30px 8px 15px;
      outline: 0;
      font-size: 12px;
      line-height: 1;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      &:hover,
      &:focus {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      }
    }
    .search-btn {
      height: 100%;
      width: 30px;
      position: absolute;
      right: 0;
      top: 0;
      border: none !important;
      box-shadow: none !important;
      z-index: 2;
      background-size: 14px;
      padding: 8px 14px 8px;
      width: 40px;
      cursor: pointer;
      user-select: none;
      color: #5b6a87;
      background: none;
      &:focus {
        outline: none;
      }
    }
  }

  .align-items-center {
    img {
      margin-right: 0.5rem;
    }
  }
}

@media (min-width: 768px) {
  header.header-container.scroll {
    .child-menu.label-2 {
      padding-top: 2rem !important;
      padding-bottom: 1rem !important;
    }
  }
}

@media (max-width: 991px) {
  header.header-container {
    .top-pane {
      .right {
        a {
          white-space: nowrap;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .mobile-trigger {
    cursor: pointer;
    display: block !important;
    i {
      font-size: 29px;
      padding: 5px;
    }
  }

  body.mobile-open {
    overflow: hidden;
  }

  .mobile-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #00000059;
    top: 0;
    right: 0;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }

  .mobile-open .mobile-overlay {
    visibility: visible;
    opacity: 1;
  }

  .header-container {
    .top-pane {
      display: none;
    }
    nav.main-nav {
      position: fixed;
      height: 100vh;
      background-color: #fff;
      left: 0%;
      top: 0;
      transition: 0.4s;
      z-index: 999;
      width: 75%;
      overflow-y: auto;
      overflow-x: hidden;
      transform: translateX(-100%);
      box-shadow: 0px 0px 17px 0px #1f03302e;
      ul {
        padding-left: 0;
        list-style: none;
      }
      ul.right {
        display: block;
        border-bottom: 1px solid #e1e3e4;
        margin-bottom: 0;
        li {
          margin-left: 0;
          a {
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            color: #1d3461;
            align-items: center;
            .icon--arrow-right {
              position: relative;
              width: 8px;
              height: 12px;
              top: 1px;
              display: inline-block;
              vertical-align: middle;
              margin-left: auto;
              margin-right: 1rem;
            }

            .icon--arrow-bottom {
              display: none;
            }
          }
          ul {
            position: relative;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            z-index: 1;
            background: #fff;
            overflow-y: auto;
            overflow-x: hidden;
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            transition: visibility 500ms cubic-bezier(0.23, 1, 0.32, 1),
              -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
            transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1), visibility 500ms cubic-bezier(0.23, 1, 0.32, 1);
            transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1), visibility 500ms cubic-bezier(0.23, 1, 0.32, 1),
              -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);

            .dl-back-btn {
              padding: 1rem;
              display: flex;
              align-items: center;
              border-bottom: 1px solid #e1e3e4;
              cursor: pointer;
              svg {
                top: 0;
                margin-right: 1rem;
              }
            }
            li {
              .icon--arrow-left {
                position: relative;
                width: 8px;
                height: 12px;
                top: 1px;
                display: inline-block;
                vertical-align: middle;
              }
            }
          }
        }

        .child-open > {
          ul {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            visibility: visible;
          }
        }
      }
    }

    .mobile-bottom-content {
      border-bottom: 0;
      .align-items-center {
        margin: 0;
        .lang-link {
          padding: 1rem 0;
          flex: 0 0 100%;
          max-width: 100%;
          border-bottom: 1px solid #e1e3e4;
        }

        .user-link {
          padding: 1rem 0;
          flex: 0 0 100%;
          max-width: 100%;
          border-bottom: 1px solid #e1e3e4;
        }
        ul {
          border-bottom: 0 !important;
          margin: 0;
          li {
            a {
              padding: 1rem;
              display: flex;
              justify-content: flex-start;
              color: #1d3461;
            }
          }
        }
      }
    }
  }

  .mobile-open header.header-container {
    nav.main-nav {
      transform: translateX(0);
    }
  }
}

