.overlay {
  content: "";
  display: block;
  background: #0000005c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

[data-modal-content] {
  position: fixed;
  z-index: 99999;
  background: #fff;
  width: 50%;
  height: 60%;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0px 0px 4px 0px #1f03302e;
  visibility: hidden;
  opacity: 0;
  &.active-modal {
    visibility: visible;
    opacity: 1;
  }
  .cm-modal-header {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px;
    border-bottom: 1px solid #dbdbdb;
    height: 55px;
    .cm-modal-header-title {
      flex: 0 0 calc(100% - 50px);
      h3 {
        margin-bottom: 0;
      }
    }
    .cm-modal-header-close {
      flex: 0 0 50px;
      text-align: center;
      padding: 6px;
      cursor: pointer;
    }
  }
  .cm-modal-body {
    height: calc(100% - 55px);
    padding: 10px 10px 10px;
  }
}

@media (max-width: 767px) {
  [data-modal-content] {
    width: 80%;
  }
}
