.container {
  max-width: 80%;
  padding-left: 15px;
  padding-right: 15px;
}

.body-container {
  > section {
    margin-bottom: 8rem;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 95%;
  }

  .body-container {
    > section {
      margin-bottom: 6rem;
    }
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }

  .body-container {
    > section {
      margin-bottom: 4rem;
    }
  }
}
