@import "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap-grid.min.css";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css";

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: $givry;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Anchor Links */
a,
[tabindex] {
  text-decoration: none;
  color: $red;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: #1b2330;
  }
  &:active {
    outline: 1px dashed $focus-outline;
    outline-offset: -1px;
  }
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  font-weight: bold;
  color: #454058;
  word-break: break-word;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2.5rem;
  }
  
  h3 {
    font-size: 2rem;
  }
  
  h4 {
    font-size: 1.8rem;
  }
  
  h5 {
    font-size: 1.6rem;
  }
  
  h6 {
    font-size: 1.2rem;
  }
}


@media (max-width: 991px) {
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.7rem;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  h5 {
    font-size: 1.4rem;
  }
  
  h6 {
    font-size: 1.2rem;
  }
}



@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.8rem;
  }
  
  h3 {
    font-size: 1.6rem;
  }
  
  h4 {
    font-size: 1.4rem;
  }
  
  h5 {
    font-size: 1.2rem;
  }
  
  h6 {
    font-size: 1rem;
  }
}





img,
svg {
  max-width: 100%;
  vertical-align: bottom;
  height: auto;
}

strong {
  font-weight: 700;
}

code {
  vertical-align: bottom;
}

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 2.5rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-left: 2px solid #a9a9a9;
  padding-left: 15px;
}

/* Horizontal Rules */
hr {
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  border: none;
}

sup,
sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
