$givry: #112751;
$black:#161615;
$colorgrey:#454058;
$lightgrey:#707070;
$bggrey:#f6f5fa;
$bulletgrey:#aaaca9;
$bgdarkgrey: #f0f0f2;
$theme: #4F89AE;
$yellow:#f8d905;
$bulletred:#ed1b24;
$red:#ed1b24;
$redHover : #d71419;
$dark-blue:#1b2330;
$light-blue:#01aef0;
$golden:#D1AE6C;
$boxShadow: 0 2px 3px rgba(0, 0, 0, 0.1);
$white:#fff;
$fieldBorder: #a7a7a7;
$fontSize: 14px;
$container: 1170px;

$focus-outline: #939393;
$green: #4CAF50;
