.maintenance-page {
    .banner-area {
      background-color: #fff;
      margin-bottom: 0;
      h2 {
        color: red;
    }
    }
    > section {
      margin-bottom: 0px;
      padding: 6rem 0;
      .align-items-center {
        justify-content: space-between;
        .align-right {
          text-align: right;
          img {
            display: inline-block;
          }
        }
        img {
          width: 100%;
          max-width: 480px;
          display: block;
          margin: 0 auto;
        }
      }
    }
    > .row-1 {
      background-color: #e0ebf6;
    }
    > .row-2 {
      background-color: #e4fbfe;
    }
    > .row-3 {
      background-color: #fceddc;
    }
    > .row-4 {
      background-color: #e5fcff;
    }

    @media (max-width: 767px) {
      > section {
        padding: 3rem 0;
        .align-items-center {
          justify-content: space-between;
          .align-right {
            text-align: right;
          }
          img {
            max-width: 380px;
            margin-bottom: 3rem;
          }
        }
      }
    }
  }
  