.mobile-app-development-page {
  .banner-area {
    margin-bottom: 0px;
    background-color: #fff;
  }
  > section {
    margin-bottom: 0px;
    padding: 6rem 0;
    .align-items-center {
      justify-content: space-between;
      .align-right {
        text-align: right;  
        img {
          display: inline-block;
        }
      }
      img {
        width: 100%;
        max-width: 480px;
        display: block;
        margin: 0 auto;
      }
    }
  }
  > .row-1 {
    background-color: #f2fbff;
  }
  > .row-2 {
    background-color: #ffedd3;
  }
  > .row-3 {
    background-color: #e7d7ff;
  }
  > .row-4 {
    background-color: #e7caff;
  }

  @media (max-width: 767px) {
    > section {
      padding: 3rem 0;
      .align-items-center {
        justify-content: space-between;
        .align-right {
          text-align: right;
        }
        img {
          max-width: 380px;
          margin-bottom: 3rem;
        }
      }
    }
  }
}
