@import "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap-grid.min.css";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css";
.banner-area {
  font-size: 1.2rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-bottom: 5rem;
  background-color: #ecf7fe; }
  .banner-area h2 {
    color: #084c94; }
  .banner-area p {
    color: #084c94; }
  .banner-area .banner-button {
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.33rem;
    font-weight: 500;
    padding: 1rem 3rem;
    border-radius: 2.5rem;
    background: #4f89ae;
    box-shadow: 0px 1.33rem 2.5rem #4f89ae69;
    color: #fff;
    border: none; }
  .banner-area .align-items-center {
    justify-content: space-between; }
  .banner-area img {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    display: block; }

@media (max-width: 1200px) {
  .banner-area .banner-button {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    margin-top: 1.2rem; } }

@media (max-width: 991px) {
  .banner-area {
    font-size: 1rem;
    padding-top: 13rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem; }
    .banner-area .order-md-first {
      -ms-flex-order: 2;
      order: 2; }
    .banner-area img {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      display: block;
      margin-bottom: 1rem; }
    .banner-area .align-items-center {
      text-align: center; }
    .banner-area h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem; }
    .banner-area .banner-button {
      font-size: 1rem;
      padding: 1rem 2.5rem;
      margin-top: 1rem; } }

@media (max-width: 767px) {
  .banner-area {
    padding-top: 10rem; }
    .banner-area .align-items-center {
      text-align: center; }
    .banner-area h2 {
      font-size: 2rem;
      margin-bottom: 1rem; }
    .banner-area .banner-button {
      font-size: 1rem;
      padding: 1rem 2rem; } }

.container {
  max-width: 80%;
  padding-left: 15px;
  padding-right: 15px; }

.body-container > section {
  margin-bottom: 8rem; }

@media (max-width: 1200px) {
  .container {
    max-width: 95%; }
  .body-container > section {
    margin-bottom: 6rem; } }

@media (max-width: 767px) {
  .container {
    max-width: 100%; }
  .body-container > section {
    margin-bottom: 4rem; } }

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 14px; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #112751; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

/* Anchor Links */
a,
[tabindex] {
  text-decoration: none;
  color: #ed1b24;
  cursor: pointer; }
  a:hover,
  [tabindex]:hover {
    text-decoration: none;
    color: #1b2330; }
  a:active,
  [tabindex]:active {
    outline: 1px dashed #939393;
    outline-offset: -1px; }

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  font-weight: bold;
  color: #454058;
  word-break: break-word; }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1rem; }

@media (max-width: 1200px) {
  h1 {
    font-size: 3rem; }
  h2 {
    font-size: 2.5rem; }
  h3 {
    font-size: 2rem; }
  h4 {
    font-size: 1.8rem; }
  h5 {
    font-size: 1.6rem; }
  h6 {
    font-size: 1.2rem; } }

@media (max-width: 991px) {
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 2rem; }
  h3 {
    font-size: 1.7rem; }
  h4 {
    font-size: 1.5rem; }
  h5 {
    font-size: 1.4rem; }
  h6 {
    font-size: 1.2rem; } }

@media (max-width: 767px) {
  h1 {
    font-size: 2rem; }
  h2 {
    font-size: 1.8rem; }
  h3 {
    font-size: 1.6rem; }
  h4 {
    font-size: 1.4rem; }
  h5 {
    font-size: 1.2rem; }
  h6 {
    font-size: 1rem; } }

img,
svg {
  max-width: 100%;
  vertical-align: bottom;
  height: auto; }

strong {
  font-weight: 700; }

code {
  vertical-align: bottom; }

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 2.5rem; }

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0; }

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-left: 2px solid #a9a9a9;
  padding-left: 15px; }

/* Horizontal Rules */
hr {
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  border: none; }

sup,
sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

form {
  max-width: 500px;
  padding: 20px; }

.btn {
  display: inline-block;
  font-size: 1.33rem;
  font-weight: 500;
  padding: 1rem 3rem;
  border-radius: 2.5rem; }

@media (max-width: 1200px) {
  .btn {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    margin-top: 1.2rem; } }

@media (max-width: 991px) {
  .btn {
    font-size: 1rem;
    padding: 1rem 2.5rem;
    margin-top: 1rem; } }

.btn-primary {
  background: #4f89ae;
  box-shadow: 0px 1.33rem 2.5rem #4f89ae69;
  color: #fff;
  border: none;
  transition: color 0.2s linear; }
  .btn-primary:hover, .btn-primary:focus {
    color: #efefef;
    outline: none;
    box-shadow: 0px 1.33rem 2.5rem #4f89ae69; }

.ex-button {
  margin: 0;
  cursor: pointer;
  display: inline-block;
  border-style: solid;
  text-decoration: none; }

.ex-button:hover,
.ex-button:focus {
  text-decoration: none; }

.ex-form label {
  display: block;
  float: none;
  width: auto;
  font-weight: normal;
  text-align: left;
  padding-top: 0;
  margin-bottom: 4px; }

.ex-form label {
  margin-top: .5rem;
  color: #ed1b24; }

.form-title {
  padding: 0 20px; }

input.ex-input,
textarea.ex-input,
input[type="password"] {
  display: inline-block;
  width: 100% !important;
  height: auto !important;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  background-color: #fff;
  outline: 0; }

input[type="password"] {
  margin-bottom: 18px; }

.ex-input[type=checkbox],
.ex-input[type=radio] {
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 5px 3px 0px;
  line-height: normal;
  border: none;
  width: auto !important; }

.ex-input[type=file] {
  background-color: #fff;
  padding: initial;
  border: initial;
  line-height: initial;
  box-shadow: none; }

.ex-input:-moz-placeholder {
  color: #ed1b24; }

.ex-input::-webkit-input-placeholder {
  color: #ed1b24; }

.ex-input input,
.ex-input textarea {
  transition: border 0.2s linear; }

.ex-input:focus {
  outline: none; }

textarea.ex-input {
  height: auto; }

@media (max-width: 767px) {
  form {
    max-width: 100%;
    padding: 20px 0px; } }

.overlay {
  content: "";
  display: block;
  background: #0000005c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  visibility: hidden;
  opacity: 0; }
  .overlay.visible {
    opacity: 1;
    visibility: visible; }

[data-modal-content] {
  position: fixed;
  z-index: 99999;
  background: #fff;
  width: 50%;
  height: 60%;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0px 0px 4px 0px #1f03302e;
  visibility: hidden;
  opacity: 0; }
  [data-modal-content].active-modal {
    visibility: visible;
    opacity: 1; }
  [data-modal-content] .cm-modal-header {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px;
    border-bottom: 1px solid #dbdbdb;
    height: 55px; }
    [data-modal-content] .cm-modal-header .cm-modal-header-title {
      flex: 0 0 calc(100% - 50px); }
      [data-modal-content] .cm-modal-header .cm-modal-header-title h3 {
        margin-bottom: 0; }
    [data-modal-content] .cm-modal-header .cm-modal-header-close {
      flex: 0 0 50px;
      text-align: center;
      padding: 6px;
      cursor: pointer; }
  [data-modal-content] .cm-modal-body {
    height: calc(100% - 55px);
    padding: 10px 10px 10px; }

@media (max-width: 767px) {
  [data-modal-content] {
    width: 80%; } }

.header-container {
  background: #fff;
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  transition: 0.3s;
  padding: 1.5rem 0;
  font-size: 1rem;
  box-shadow: 0px 0px 4px 0px #1f03302e; }
  .header-container .country-language {
    margin-right: 0.8rem; }
  .header-container .mobile-trigger {
    display: none; }
  .header-container .contact-sales i {
    margin-right: 6px;
    position: relative;
    top: -1px; }
  .header-container.scroll {
    top: 0;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 0px 15px 0px #1f03302e; }
  @media (min-width: 768px) {
    .header-container ul {
      display: flex;
      list-style: none;
      margin: 0;
      align-items: center;
      padding-left: 0; }
      .header-container ul li a {
        color: #112751;
        display: flex;
        align-items: center;
        padding: 5px; }
        .header-container ul li a .icon--arrow-bottom {
          width: 1rem;
          height: 1rem;
          margin-left: 0.5rem;
          vertical-align: middle;
          display: inline-block; }
      .header-container ul.right {
        justify-content: flex-end; }
        .header-container ul.right > li {
          margin-right: 0;
          margin-left: 1.6rem; }
      .header-container ul .child-menu-wrap {
        position: relative; }
        .header-container ul .child-menu-wrap .child-menu {
          position: absolute;
          top: 100%;
          padding: 16px 0;
          list-style: none;
          border-radius: 0 0 3px 3px;
          visibility: hidden;
          opacity: 0;
          z-index: 1;
          transition: 0.3s;
          min-width: calc(100% + 20px);
          left: -25px;
          background-color: #fff;
          min-width: 16rem;
          display: block;
          line-height: 1;
          padding: 0;
          box-shadow: 8px 11px 13px 0px #1f03302e;
          margin-top: 1rem;
          padding-top: 3rem;
          padding-bottom: 1rem; }
          .header-container ul .child-menu-wrap .child-menu li.dl-back-btn {
            display: none; }
          .header-container ul .child-menu-wrap .child-menu li a {
            padding: 1rem; }
          .header-container ul .child-menu-wrap .child-menu .icon--arrow-right {
            position: relative;
            width: 8px;
            height: 12px;
            top: 1px;
            display: inline-block;
            vertical-align: middle;
            margin-left: auto;
            margin-right: 1rem; }
          .header-container ul .child-menu-wrap .child-menu .child-menu.label-3 {
            top: 0 !important;
            left: 100% !important;
            padding-top: 1rem;
            padding-bottom: 1rem; }
      .header-container ul .child-menu-wrap:hover > .child-menu {
        visibility: visible;
        opacity: 1;
        margin-top: 0; }
    .header-container .mobile-bottom-content {
      display: none; } }
  .header-container .top-pane {
    margin-bottom: 1rem; }
  .header-container .flag-icon {
    width: 1.5rem; }
  .header-container .main-header {
    background: #fff; }
    .header-container .main-header .container {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header-container .main-header .container .logo {
        width: 220px; }
        .header-container .main-header .container .logo img {
          width: 100%; }
  .header-container .search-wrapper {
    position: relative; }
    .header-container .search-wrapper .search-field {
      background-color: transparent;
      border: none;
      box-shadow: none;
      transition: all 0.3s;
      border-radius: 15px;
      padding: 8px 30px 8px 15px;
      outline: 0;
      font-size: 12px;
      line-height: 1;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }
      .header-container .search-wrapper .search-field:hover, .header-container .search-wrapper .search-field:focus {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }
    .header-container .search-wrapper .search-btn {
      height: 100%;
      width: 30px;
      position: absolute;
      right: 0;
      top: 0;
      border: none !important;
      box-shadow: none !important;
      z-index: 2;
      background-size: 14px;
      padding: 8px 14px 8px;
      width: 40px;
      cursor: pointer;
      user-select: none;
      color: #5b6a87;
      background: none; }
      .header-container .search-wrapper .search-btn:focus {
        outline: none; }
  .header-container .align-items-center img {
    margin-right: 0.5rem; }

@media (min-width: 768px) {
  header.header-container.scroll .child-menu.label-2 {
    padding-top: 2rem !important;
    padding-bottom: 1rem !important; } }

@media (max-width: 991px) {
  header.header-container .top-pane .right a {
    white-space: nowrap; } }

@media (max-width: 767px) {
  .mobile-trigger {
    cursor: pointer;
    display: block !important; }
    .mobile-trigger i {
      font-size: 29px;
      padding: 5px; }
  body.mobile-open {
    overflow: hidden; }
  .mobile-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #00000059;
    top: 0;
    right: 0;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s; }
  .mobile-open .mobile-overlay {
    visibility: visible;
    opacity: 1; }
  .header-container .top-pane {
    display: none; }
  .header-container nav.main-nav {
    position: fixed;
    height: 100vh;
    background-color: #fff;
    left: 0%;
    top: 0;
    transition: 0.4s;
    z-index: 999;
    width: 75%;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateX(-100%);
    box-shadow: 0px 0px 17px 0px #1f03302e; }
    .header-container nav.main-nav ul {
      padding-left: 0;
      list-style: none; }
    .header-container nav.main-nav ul.right {
      display: block;
      border-bottom: 1px solid #e1e3e4;
      margin-bottom: 0; }
      .header-container nav.main-nav ul.right li {
        margin-left: 0; }
        .header-container nav.main-nav ul.right li a {
          padding: 1rem;
          display: flex;
          justify-content: space-between;
          color: #1d3461;
          align-items: center; }
          .header-container nav.main-nav ul.right li a .icon--arrow-right {
            position: relative;
            width: 8px;
            height: 12px;
            top: 1px;
            display: inline-block;
            vertical-align: middle;
            margin-left: auto;
            margin-right: 1rem; }
          .header-container nav.main-nav ul.right li a .icon--arrow-bottom {
            display: none; }
        .header-container nav.main-nav ul.right li ul {
          position: relative;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          visibility: hidden;
          z-index: 1;
          background: #fff;
          overflow-y: auto;
          overflow-x: hidden;
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          transition: visibility 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1), visibility 500ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1), visibility 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1); }
          .header-container nav.main-nav ul.right li ul .dl-back-btn {
            padding: 1rem;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #e1e3e4;
            cursor: pointer; }
            .header-container nav.main-nav ul.right li ul .dl-back-btn svg {
              top: 0;
              margin-right: 1rem; }
          .header-container nav.main-nav ul.right li ul li .icon--arrow-left {
            position: relative;
            width: 8px;
            height: 12px;
            top: 1px;
            display: inline-block;
            vertical-align: middle; }
      .header-container nav.main-nav ul.right .child-open > ul {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        visibility: visible; }
  .header-container .mobile-bottom-content {
    border-bottom: 0; }
    .header-container .mobile-bottom-content .align-items-center {
      margin: 0; }
      .header-container .mobile-bottom-content .align-items-center .lang-link {
        padding: 1rem 0;
        flex: 0 0 100%;
        max-width: 100%;
        border-bottom: 1px solid #e1e3e4; }
      .header-container .mobile-bottom-content .align-items-center .user-link {
        padding: 1rem 0;
        flex: 0 0 100%;
        max-width: 100%;
        border-bottom: 1px solid #e1e3e4; }
      .header-container .mobile-bottom-content .align-items-center ul {
        border-bottom: 0 !important;
        margin: 0; }
        .header-container .mobile-bottom-content .align-items-center ul li a {
          padding: 1rem;
          display: flex;
          justify-content: flex-start;
          color: #1d3461; }
  .mobile-open header.header-container nav.main-nav {
    transform: translateX(0); } }

footer {
  background-image: linear-gradient(-155deg, rgba(74, 148, 214, 0.4) 45%, rgba(255, 255, 255, 0.08) 15%), linear-gradient(258deg, rgba(87, 238, 255, 0.1), rgba(77, 108, 211, 0.2));
  background: url("../images/footer-bg.svg") no-repeat 0 0/cover;
  background-color: #26053A;
  color: #fff;
  font-size: 1rem; }
  footer h5 {
    color: #fff;
    font-size: 1.7rem; }
  footer ul {
    list-style: none;
    padding: 0; }
    footer ul.footer-nav li {
      margin: 15px 0; }
  footer a {
    color: #fff; }
    footer a:hover {
      color: #fff; }
  footer .subscribe-form .form-control {
    border: 1px solid #707070;
    border-radius: 9px;
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    width: 100%; }
  footer .subscribe-form .btn {
    background: #7140ca;
    color: #fff;
    border: none;
    border-radius: 0.75rem;
    padding: 0.8rem 3rem;
    font-size: 1.2rem;
    cursor: pointer; }
  footer .subscribe-form .form-group {
    margin-bottom: 2rem; }
  footer .sub-footer {
    padding: 1.5rem 0; }
    footer .sub-footer ul {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0; }
      footer .sub-footer ul li {
        margin: 15px 20px; }
      footer .sub-footer ul img {
        vertical-align: middle; }
  footer .main-footer .footer-column {
    margin-top: 3em;
    margin-bottom: 3em; }
  footer .contact img {
    vertical-align: middle;
    margin-right: 1rem; }
  footer .contact li {
    margin-bottom: 1em; }
  footer .sub-footer img {
    width: 3rem;
    height: 2rem; }

@media (max-width: 991px) {
  footer .sub-footer img {
    width: 3rem;
    height: 2rem; }
  footer .main-footer .col-md-3 {
    flex: 0 0 45%;
    max-width: 45%;
    order: 2; }
  footer .main-footer .col-md-5 {
    order: 3;
    flex: 0 0 100%;
    max-width: 100%; }
  footer .main-footer .col-md-4 {
    order: 1;
    flex: 0 0 100%;
    max-width: 100%; }
  footer .main-footer .col-12 {
    flex: 0 0 50%;
    max-width: 50%; }
  footer .main-footer .footer-column {
    margin-top: 1em;
    margin-bottom: 1em; } }

@media (max-width: 767px) {
  footer .main-footer .col-md-6 {
    width: 50%; }
  footer .main-footer .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
    order: 1; }
  footer .main-footer .col-md-4 {
    order: 2; } }

@media (max-width: 560px) {
  footer .main-footer .col-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  footer .main-footer .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
    order: 1; } }

@media (max-width: 480px) {
  footer .main-footer .col-md-6 {
    width: 100%; }
  footer .sub-footer img {
    width: 1.5rem;
    height: 1.5rem;
    min-width: 1.5rem; } }

.banner-area.home-banner {
  background-image: url("../images/curves.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-color: #fff; }

ul.quality-list {
  width: 100%;
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 9px 27px rgba(0, 0, 0, 0.3); }
  ul.quality-list li {
    padding: 5rem 1rem;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    transition: 0.2s;
    color: #4f89ae; }
  ul.quality-list li:hover {
    background-color: #4f89ae;
    cursor: pointer;
    color: #fff; }
  ul.quality-list .number {
    font-size: 4rem;
    display: block;
    transition: 0.2s;
    transform: scale(1); }
  ul.quality-list li:hover .number {
    transform: scale(1.2); }
  ul.quality-list .quality {
    display: block;
    font-size: 1.3rem; }

.card {
  text-align: center;
  height: 100%;
  border: none;
  background: #fff;
  box-shadow: 0px 5px 10px #4f89ae2e;
  border-radius: 10px; }
  .card img {
    border-radius: 10px 10px 0 0;
    width: 100%; }
  .card .card-body {
    color: inherit;
    padding: 2rem 1rem; }
    .card .card-body p:last-child {
      margin-bottom: 0;
      letter-spacing: 0.2px; }
    .card .card-body h4 {
      font-size: 1.5rem; }

.service-box {
  text-align: center; }

.center-text {
  text-align: center;
  margin-bottom: 5rem; }

.key-modules-wrapper hr {
  margin: 3rem 0;
  border-width: 2px;
  border-color: #ddd; }

.key-modules-wrapper .key-module .align-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.key-modules-wrapper .key-module .radio-list {
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 1.3rem; }
  .key-modules-wrapper .key-module .radio-list ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .key-modules-wrapper .key-module .radio-list ul li {
      padding: 1rem 0; }
      .key-modules-wrapper .key-module .radio-list ul li input {
        margin-right: 1rem; }

.key-modules-wrapper .key-module .type-title h5 {
  font-weight: bold;
  width: 100%; }

.key-modules-wrapper .key-module .dec-wrap {
  padding: 0 4%;
  align-items: center;
  justify-content: flex-start; }
  .key-modules-wrapper .key-module .dec-wrap .key-title {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem; }
    .key-modules-wrapper .key-module .dec-wrap .key-title img {
      margin-right: 1rem; }
  .key-modules-wrapper .key-module .dec-wrap p {
    margin: 0; }

.consultation-btn {
  text-align: center;
  padding-top: 2rem; }
  .consultation-btn h3 {
    margin-bottom: 3rem; }

.comment-sec {
  padding-top: 3rem; }
  .comment-sec h3 {
    margin-bottom: 1rem;
    padding-bottom: 1rem; }
  .comment-sec h3:after {
    content: "";
    display: block;
    width: 76px;
    height: 3px;
    background: #00aeef;
    margin-top: 0.3rem; }
  .comment-sec blockquote {
    background: #f9f9f9;
    padding: 2rem;
    font-size: 1.3rem;
    display: flex;
    min-height: 256px;
    flex-direction: column;
    border: 0; }
    .comment-sec blockquote .byline {
      margin-top: auto;
      margin-bottom: 0;
      font-weight: bold; }
      .comment-sec blockquote .byline .byline-name {
        display: block; }

.whats-new-module h1 {
  font-weight: normal; }

.whats-new-module h3 {
  font-weight: normal; }

.whats-new-module .align-center {
  display: flex;
  align-items: center; }

.whats-new-module .text {
  border-left: 2px solid #ddd;
  padding-left: 7%;
  padding-top: 5rem;
  padding-bottom: 5rem; }

.about-page .banner-area {
  background-image: url(../../images/curve-bnr-bg.svg) no-repeat 50% 0/cover; }
  .about-page .banner-area h2 {
    text-align: center; }
  .about-page .banner-area .bnr-image {
    display: flex;
    align-items: center;
    justify-content: center; }

.about-page h2.center-title {
  text-align: center; }

.about-page .principles-sec {
  border: 2px solid #ddd;
  border-radius: 3rem;
  text-align: center; }
  .about-page .principles-sec .text-container:nth-child(3n + 2) {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd; }
  .about-page .principles-sec .top-col {
    border-bottom: 2px solid #ddd; }
  .about-page .principles-sec .text-container {
    padding: 4rem; }
    .about-page .principles-sec .text-container img {
      width: 5rem;
      margin-bottom: 3rem; }
    .about-page .principles-sec .text-container h5 {
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 2rem; }
    .about-page .principles-sec .text-container h5:after {
      content: "";
      width: 4rem;
      height: 3px;
      background-color: red;
      display: block;
      margin: 1.6rem auto 0 auto; }

.about-page .deployment-sec .deployment-title {
  width: 80%; }

.about-page .deployment-sec .deployment-img {
  margin-top: -20%; }

.about-page section h6 {
  font-size: 1.4rem;
  color: #07078ec9; }

.about-page .partner-sec h6 {
  background-color: #000;
  text-align: center;
  padding: 3rem;
  color: #fff;
  margin: 0 auto; }

.about-page .bg-sec {
  background-color: #efe6e6ab;
  padding: 5rem;
  border-radius: 2rem; }
  .about-page .bg-sec .left-align {
    text-align: left;
    padding-right: 10rem; }
  .about-page .bg-sec .right-align {
    text-align: right;
    padding-left: 10rem; }
  .about-page .bg-sec h5 {
    font-weight: bold; }

.how-we-work-page .banner-area {
  background-image: url(../../images/curve-bnr-bg.svg); }

.how-we-work-page .center-heading {
  margin-bottom: 2rem;
  text-align: center; }
  .how-we-work-page .center-heading h3 {
    margin-bottom: 1rem; }

.how-we-work-page .development-process {
  text-align: center; }
  .how-we-work-page .development-process h5 {
    margin-top: 10px; }
  .how-we-work-page .development-process img {
    margin-bottom: 1.5rem; }

.branding-page .banner-area {
  background-image: url(../../images/curve-bnr-bg.svg); }

.contact-page .banner-area {
  background-image: url("../../images/contact/banner-image.svg");
  background-position: -7% 122%;
  background-size: 1230px; }

.contact-page form.ex-form {
  display: flex;
  flex-flow: wrap;
  max-width: 80%;
  margin: 0 auto;
  padding: 5rem 5rem 0rem 5rem;
  box-shadow: 0px 3px 30px 0px #667ca98c; }
  .contact-page form.ex-form .col-lg-6 {
    padding: 1rem 3rem; }
  .contact-page form.ex-form .from-title h3 {
    font-weight: normal;
    margin-bottom: 1rem;
    text-transform: capitalize; }
  .contact-page form.ex-form .ex-input-wrap {
    border-bottom: 2px solid #ddd;
    padding-bottom: 1rem;
    margin-bottom: 2.5rem; }
    .contact-page form.ex-form .ex-input-wrap label {
      color: #454058;
      font-size: 1.5rem; }
      .contact-page form.ex-form .ex-input-wrap label .ex-required {
        color: #42b8f0; }
    .contact-page form.ex-form .ex-input-wrap .ex-input {
      border: none;
      font-size: 1rem; }
    .contact-page form.ex-form .ex-input-wrap textarea.ex-input {
      background-color: #dddddd47;
      border: 1px solid #dddd;
      padding: 1rem;
      min-height: 239px;
      box-shadow: 0px 2px 6px 0px #667ca98c;
      margin-top: 1rem; }
  .contact-page form.ex-form .ex-input::-webkit-input-placeholder {
    color: #ada9a9; }
  .contact-page form.ex-form .ex-textarea-wrap {
    border: none; }
  .contact-page form.ex-form .ex-richtext {
    font-size: 0.8rem;
    color: #a59e9e; }
  .contact-page form.ex-form .ex-actions {
    margin: 1rem 0; }
    .contact-page form.ex-form .ex-actions .ex-button {
      width: 100%;
      padding: 1rem;
      color: #fff;
      background-color: #42b8f0;
      border: none;
      font-size: 1.3rem; }
  .contact-page form.ex-form input::-webkit-outer-spin-button,
  .contact-page form.ex-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }

@media (max-width: 1500px) {
  .contact-page form.ex-form {
    padding: 5rem 3rem 0rem 3rem; }
    .contact-page form.ex-form .col-lg-6 {
      padding: 1rem 2rem; } }

@media (max-width: 1260px) {
  .contact-page form.ex-form {
    padding: 5rem 3rem 0rem 3rem;
    max-width: 100%; }
    .contact-page form.ex-form .col-lg-6 {
      padding: 1rem 2rem; } }

@media (max-width: 991px) {
  .contact-page .banner-area {
    padding-top: 13rem;
    padding-bottom: 6rem;
    background-image: none; }
    .contact-page .banner-area .order-md-first {
      margin-top: 1rem !important; } }

@media (max-width: 767px) {
  .contact-page form.ex-form {
    padding: 2rem;
    max-width: 100%; }
    .contact-page form.ex-form .from-title {
      padding: 0; }
      .contact-page form.ex-form .from-title h3 {
        font-size: 2rem; }
    .contact-page form.ex-form .col-lg-6 {
      padding: 0px; }
      .contact-page form.ex-form .col-lg-6 .ex-textarea-wrap {
        border: none;
        margin: 0;
        padding: 0; }
  .contact-page .banner-area {
    padding-top: 9rem;
    padding-bottom: 3rem;
    background-image: none;
    text-align: center; }
    .contact-page .banner-area img {
      width: 100%;
      max-width: 320px; }
    .contact-page .banner-area .order-md-first {
      margin-top: 1rem !important; } }

@media (max-width: 480px) {
  .contact-page .banner-area {
    padding-top: 9rem;
    padding-bottom: 2rem; }
    .contact-page .banner-area h2 {
      font-size: 2.5rem; }
    .contact-page .banner-area p {
      font-size: 1.1rem; }
  .contact-page form.ex-form {
    padding: 2rem;
    max-width: 100%; }
    .contact-page form.ex-form .from-title {
      padding: 0; }
      .contact-page form.ex-form .from-title h3 {
        font-size: 1.6rem; } }

.branding-page .banner-area {
  background-color: #fff;
  margin-bottom: 0; }

.branding-page > section {
  margin-bottom: 0px;
  padding: 6rem 0; }
  .branding-page > section .align-items-center {
    justify-content: space-between; }
    .branding-page > section .align-items-center .align-right {
      text-align: right; }
      .branding-page > section .align-items-center .align-right img {
        display: inline-block; }
    .branding-page > section .align-items-center img {
      width: 100%;
      max-width: 480px;
      display: block;
      margin: 0 auto; }

.branding-page > .row-1 {
  background-color: #def6e5; }

.branding-page > .row-2 {
  background-color: #ede4ff; }

.branding-page > .row-3 {
  background-color: #feeafa; }

.branding-page > .row-4 {
  background-color: #f1f9ff; }

.branding-page > .row-5 {
  background-color: #d0eff2; }
  .branding-page > .row-5 h2 {
    text-align: center; }
  .branding-page > .row-5 p {
    text-align: center; }

.branding-page > .row-6 {
  background-color: #f8ddf9; }

.branding-page .list-item-right {
  display: inline-block;
  text-align: left; }

@media (max-width: 767px) {
  .branding-page > section {
    padding: 3rem 0; }
    .branding-page > section .align-items-center {
      justify-content: space-between; }
      .branding-page > section .align-items-center .align-right {
        text-align: right; }
      .branding-page > section .align-items-center img {
        max-width: 380px;
        margin-bottom: 3rem; } }

.cloud-page .banner-area {
  background-color: #ecf7fe;
  margin-bottom: 0; }

.cloud-page > section {
  margin-bottom: 0px;
  padding: 6rem 0; }
  .cloud-page > section .cm-brand-logo {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: block;
    margin-bottom: 2rem; }

.cloud-page > .row-1 {
  background-color: #c1e5cb; }

.cloud-page > .row-2 {
  background-color: #ffe0b2; }

.cloud-page > .row-3 {
  background-color: #ccdef8; }

@media (max-width: 767px) {
  .cloud-page > section {
    padding: 3rem 0; } }

.degital-marketing-page .full-width-banner-area {
  padding-top: 129px; }

.degital-marketing-page > section {
  margin-bottom: 0px;
  padding: 6rem 0; }
  .degital-marketing-page > section .align-items-center {
    justify-content: space-between; }
    .degital-marketing-page > section .align-items-center .align-right {
      text-align: right; }
      .degital-marketing-page > section .align-items-center .align-right img {
        display: inline-block; }
    .degital-marketing-page > section .align-items-center img {
      width: 100%;
      max-width: 480px;
      display: block;
      margin: 0 auto; }

.degital-marketing-page > .row-1 {
  background-color: #f0f8fa; }

.degital-marketing-page > .row-2 {
  background-color: #ffcecd; }

.degital-marketing-page > .row-3 {
  background-color: #ffffff; }
  .degital-marketing-page > .row-3 .list-item {
    display: inline-block;
    text-align: left; }

.degital-marketing-page > .row-4 {
  background-color: #f1f9ff; }

.degital-marketing-page > .row-5 {
  background-color: #d0eff2; }

.degital-marketing-page > .row-6 {
  background-color: #f1f9ff; }

.degital-marketing-page > .row-7 {
  background-color: #ffdcde; }

.degital-marketing-page > .row-8 {
  background-color: #f1f9ff; }

@media (max-width: 767px) {
  .degital-marketing-page > section {
    padding: 3rem 0; }
    .degital-marketing-page > section .align-items-center {
      justify-content: space-between; }
      .degital-marketing-page > section .align-items-center .align-right {
        text-align: right; }
      .degital-marketing-page > section .align-items-center img {
        max-width: 380px;
        margin-bottom: 3rem; }
  .degital-marketing-page .full-width-banner-area {
    padding-top: 83px; } }

.interface-design-page .banner-area {
  background-color: #fff;
  margin-bottom: 0; }

.interface-design-page > section {
  margin-bottom: 0px;
  padding: 6rem 0; }
  .interface-design-page > section .align-items-center {
    justify-content: space-between; }
    .interface-design-page > section .align-items-center .align-right {
      text-align: right; }
      .interface-design-page > section .align-items-center .align-right img {
        display: inline-block; }
    .interface-design-page > section .align-items-center img {
      width: 100%;
      max-width: 480px;
      display: block;
      margin: 0 auto; }

.interface-design-page > .row-1 {
  background-color: #edeffb; }

.interface-design-page > .row-2 {
  background-color: #ffedee; }

.interface-design-page > .row-3 {
  background-color: #f2dcd0; }

.interface-design-page > .row-4 {
  background-color: #f1f9ff; }

.interface-design-page > .row-5 {
  background-color: #ffddc1; }

@media (max-width: 767px) {
  .interface-design-page > section {
    padding: 3rem 0; }
    .interface-design-page > section .align-items-center {
      justify-content: space-between; }
      .interface-design-page > section .align-items-center .align-right {
        text-align: right; }
      .interface-design-page > section .align-items-center img {
        max-width: 380px;
        margin-bottom: 3rem; } }

.maintenance-page .banner-area {
  background-color: #fff;
  margin-bottom: 0; }
  .maintenance-page .banner-area h2 {
    color: red; }

.maintenance-page > section {
  margin-bottom: 0px;
  padding: 6rem 0; }
  .maintenance-page > section .align-items-center {
    justify-content: space-between; }
    .maintenance-page > section .align-items-center .align-right {
      text-align: right; }
      .maintenance-page > section .align-items-center .align-right img {
        display: inline-block; }
    .maintenance-page > section .align-items-center img {
      width: 100%;
      max-width: 480px;
      display: block;
      margin: 0 auto; }

.maintenance-page > .row-1 {
  background-color: #e0ebf6; }

.maintenance-page > .row-2 {
  background-color: #e4fbfe; }

.maintenance-page > .row-3 {
  background-color: #fceddc; }

.maintenance-page > .row-4 {
  background-color: #e5fcff; }

@media (max-width: 767px) {
  .maintenance-page > section {
    padding: 3rem 0; }
    .maintenance-page > section .align-items-center {
      justify-content: space-between; }
      .maintenance-page > section .align-items-center .align-right {
        text-align: right; }
      .maintenance-page > section .align-items-center img {
        max-width: 380px;
        margin-bottom: 3rem; } }

.mobile-app-development-page .banner-area {
  margin-bottom: 0px;
  background-color: #fff; }

.mobile-app-development-page > section {
  margin-bottom: 0px;
  padding: 6rem 0; }
  .mobile-app-development-page > section .align-items-center {
    justify-content: space-between; }
    .mobile-app-development-page > section .align-items-center .align-right {
      text-align: right; }
      .mobile-app-development-page > section .align-items-center .align-right img {
        display: inline-block; }
    .mobile-app-development-page > section .align-items-center img {
      width: 100%;
      max-width: 480px;
      display: block;
      margin: 0 auto; }

.mobile-app-development-page > .row-1 {
  background-color: #f2fbff; }

.mobile-app-development-page > .row-2 {
  background-color: #ffedd3; }

.mobile-app-development-page > .row-3 {
  background-color: #e7d7ff; }

.mobile-app-development-page > .row-4 {
  background-color: #e7caff; }

@media (max-width: 767px) {
  .mobile-app-development-page > section {
    padding: 3rem 0; }
    .mobile-app-development-page > section .align-items-center {
      justify-content: space-between; }
      .mobile-app-development-page > section .align-items-center .align-right {
        text-align: right; }
      .mobile-app-development-page > section .align-items-center img {
        max-width: 380px;
        margin-bottom: 3rem; } }

.ui-development-solutions-page p {
  margin: 1rem 0; }

@media (max-width: 767px) {
  .ui-development-solutions-page p {
    text-align: center; } }

.emerging-technology-page .banner-area {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  margin-bottom: 0px;
  padding-bottom: 4rem;
  overflow: hidden; }

.emerging-technology-page > section {
  margin-bottom: 0px;
  padding: 6rem 0; }
  .emerging-technology-page > section .align-items-center {
    justify-content: space-between; }
    .emerging-technology-page > section .align-items-center .align-right {
      text-align: right; }
      .emerging-technology-page > section .align-items-center .align-right img {
        display: inline-block; }
    .emerging-technology-page > section .align-items-center img {
      width: 100%;
      max-width: 480px;
      display: block;
      margin: 0 auto; }

.emerging-technology-page > .row-1 {
  background-color: #edeffb; }

.emerging-technology-page > .row-2 {
  background-color: #d7ecff; }

.emerging-technology-page > .row-3 {
  background-color: #7f6eac;
  color: #fff; }
  .emerging-technology-page > .row-3 h2 {
    color: #fff; }

.emerging-technology-page > .row-4 {
  background-color: #e9f6fc; }

.emerging-technology-page > .row-5 {
  background-color: #e5fcff; }

.emerging-technology-page > .row-6 {
  background-color: #00bef4;
  color: #fff;
  background-image: url("../images/emerging-technology/cloud-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center; }

@media (max-width: 767px) {
  .emerging-technology-page > section {
    padding: 3rem 0; }
    .emerging-technology-page > section .align-items-center {
      justify-content: space-between; }
      .emerging-technology-page > section .align-items-center .align-right {
        text-align: right; }
      .emerging-technology-page > section .align-items-center img {
        max-width: 380px;
        margin-bottom: 3rem; } }

.ux-design-page .banner-area {
  margin-bottom: 0px;
  background-color: #fff; }

.ux-design-page > section {
  margin-bottom: 0px;
  padding: 6rem 0; }
  .ux-design-page > section .align-items-center {
    justify-content: space-between; }
    .ux-design-page > section .align-items-center .align-right {
      text-align: right; }
    .ux-design-page > section .align-items-center img {
      width: 100%;
      max-width: 480px;
      display: block;
      margin: 0 auto; }

.ux-design-page > .row-1 {
  background-color: #d5dafd; }

.ux-design-page > .row-2 {
  background-color: #effdfb; }

.ux-design-page > .row-3 {
  background-color: #fff4f5; }

.ux-design-page > .row-4 {
  background-color: #f8fbfe; }

.ux-design-page > .row-5 {
  background-color: #fff4f5; }

.ux-design-page > .row-6 {
  background-color: #effdfb; }

@media (max-width: 767px) {
  .ux-design-page > section {
    padding: 3rem 0; }
    .ux-design-page > section .align-items-center {
      justify-content: space-between; }
      .ux-design-page > section .align-items-center .align-right {
        text-align: right; }
      .ux-design-page > section .align-items-center img {
        max-width: 380px;
        margin-bottom: 3rem; } }

.web-development-page .banner-area {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eaedef;
  margin-bottom: 0px;
  padding-bottom: 0;
  overflow: hidden; }
  .web-development-page .banner-area img {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    display: block;
    margin-bottom: -17px; }

.web-development-page > section {
  margin-bottom: 0px;
  padding: 6rem 0; }
  .web-development-page > section .align-items-center {
    justify-content: space-between; }
    .web-development-page > section .align-items-center .align-right {
      text-align: right; }
      .web-development-page > section .align-items-center .align-right img {
        display: inline-block; }
    .web-development-page > section .align-items-center img {
      width: 100%;
      max-width: 480px;
      display: block;
      margin: 0 auto; }

.web-development-page > .row-1 {
  background-color: #f2fbff; }

.web-development-page > .row-2 {
  background-color: #ffedd3; }

.web-development-page > .row-3 {
  background-color: #331447;
  color: #fff; }
  .web-development-page > .row-3 h2 {
    color: #fff; }

.web-development-page > .row-4 {
  background-color: #f3f2fa; }
  .web-development-page > .row-4 ul {
    padding: 0;
    list-style: none; }

.web-development-page > .row-5 {
  background-color: #365f8b;
  color: #fff; }
  .web-development-page > .row-5 h2 {
    color: #fff; }

@media (max-width: 767px) {
  .web-development-page > section {
    padding: 3rem 0; }
    .web-development-page > section .align-items-center {
      justify-content: space-between; }
      .web-development-page > section .align-items-center .align-right {
        text-align: right; }
      .web-development-page > section .align-items-center img {
        max-width: 380px;
        margin-bottom: 3rem; } }
