.how-we-work-page {
  .banner-area {
    background-image: url(../../images/curve-bnr-bg.svg);
  }

  .center-heading {
    margin-bottom: 2rem;
    text-align: center;
    h3 {
      margin-bottom: 1rem;
    }
  }

  .development-process {
    text-align: center;
    h5 {
      margin-top: 10px;
    }
    img {
      margin-bottom: 1.5rem;
    }
  }
}
