
.banner-area.home-banner {
  background-image: url('../images/curves.svg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-color: #fff;
}

ul.quality-list {
  width: 100%;
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 9px 27px rgba(0, 0, 0, 0.3);
  li {
    padding: 5rem 1rem;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    transition: 0.2s;
    color: #4f89ae;
  }
  li:hover {
    background-color: #4f89ae;
    cursor: pointer;
    color: #fff;
  }
  .number {
    font-size: 4rem;
    display: block;
    transition: 0.2s;
    transform: scale(1);
  }
  li:hover .number {
    transform: scale(1.2);
  }
  .quality {
    display: block;
    font-size: 1.3rem;
  }
}


.card {
  text-align: center;
  height: 100%;
  border: none;
  background: #fff;
  box-shadow: 0px 5px 10px #4f89ae2e;
  border-radius: 10px;
  img {
    border-radius: 10px 10px 0 0;
    width: 100%;
  }
  .card-body {
    color: inherit;
    padding: 2rem 1rem;
    p {
      &:last-child {
        margin-bottom: 0;
        letter-spacing: 0.2px;
      }
    }
    h4 {
      font-size: 1.5rem;
    }
  }
}

.service-box {
  text-align: center;
}

.center-text {
  text-align: center;
  margin-bottom: 5rem;
}

.key-modules-wrapper {
  hr {
    margin: 3rem 0;
    border-width: 2px;
    border-color: #ddd;
  }
  .key-module {
    .align-center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .radio-list {
      border-left: 2px solid #ddd;
      border-right: 2px solid #ddd;
      padding-top: 5rem;
      padding-bottom: 5rem;
      font-size: 1.3rem;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          padding: 1rem 0;
          input {
            margin-right: 1rem;
          }
        }
      }
    }

    .type-title {
      h5 {
        font-weight: bold;
        width: 100%;
      }
    }

    .dec-wrap {
      padding: 0 4%;
      align-items: center;
      justify-content: flex-start;
      .key-title {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        img {
          margin-right: 1rem;
        }
      }
      p {
        margin: 0;
      }
    }
  }
}

.consultation-btn {
  text-align: center;
  padding-top: 2rem;
  h3 {
    margin-bottom: 3rem;
  }
}

.comment-sec {
  padding-top: 3rem;
  h3 {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  h3:after {
    content: "";
    display: block;
    width: 76px;
    height: 3px;
    background: #00aeef;
    margin-top: 0.3rem;
  }
  blockquote {
    background: #f9f9f9;
    padding: 2rem;
    font-size: 1.3rem;
    display: flex;
    min-height: 256px;
    flex-direction: column;
    border: 0;
    .byline {
      margin-top: auto;
      margin-bottom: 0;
      font-weight: bold;
      .byline-name {
        display: block;
      }
    }
  }
}

.whats-new-module {
  h1 {
    font-weight: normal;
  }
  h3 {
    font-weight: normal;
  }
  .align-center {
    display: flex;
    align-items: center;
  }
  .text {
    border-left: 2px solid #ddd;
    padding-left: 7%;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
