.contact-page {
  .banner-area {
    background-image: url("../../images/contact/banner-image.svg");
    background-position: -7% 122%;
    background-size: 1230px;
  }

  form.ex-form {
    display: flex;
    flex-flow: wrap;
    max-width: 80%;
    margin: 0 auto;
    padding: 5rem 5rem 0rem 5rem;
    box-shadow: 0px 3px 30px 0px #667ca98c;
    .col-lg-6 {
      padding: 1rem 3rem;
    }
    .from-title {
      h3 {
        font-weight: normal;
        margin-bottom: 1rem;
        text-transform: capitalize;
      }
    }
    .ex-input-wrap {
      border-bottom: 2px solid #ddd;
      padding-bottom: 1rem;
      margin-bottom: 2.5rem;
      label {
        color: #454058;
        font-size: 1.5rem;
        .ex-required {
          color: #42b8f0;
        }
      }
      .ex-input {
        border: none;
        font-size: 1rem;
      }
      textarea.ex-input {
        background-color: #dddddd47;
        border: 1px solid #dddd;
        padding: 1rem;
        min-height: 239px;
        box-shadow: 0px 2px 6px 0px #667ca98c;
        margin-top: 1rem;
      }
    }
    .ex-input::-webkit-input-placeholder {
      color: #ada9a9;
    }
    .ex-textarea-wrap {
      border: none;
    }
    .ex-richtext {
      font-size: 0.8rem;
      color: #a59e9e;
    }
    .ex-actions {
      margin: 1rem 0;
      .ex-button {
        width: 100%;
        padding: 1rem;
        color: #fff;
        background-color: #42b8f0;
        border: none;
        font-size: 1.3rem;
      }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  @media (max-width: 1500px) {
    form.ex-form {
      padding: 5rem 3rem 0rem 3rem;
      .col-lg-6 {
        padding: 1rem 2rem;
      }
    }
  }

  @media (max-width: 1260px) {
    form.ex-form {
      padding: 5rem 3rem 0rem 3rem;
      max-width: 100%;
      .col-lg-6 {
        padding: 1rem 2rem;
      }
    }
  }

  @media (max-width: 991px) {
    .banner-area {
      padding-top: 13rem;
      padding-bottom: 6rem;
      background-image: none;
      .order-md-first {
        margin-top: 1rem !important;
      }
    }
  }

  @media (max-width: 767px) {
    form.ex-form {
      padding: 2rem;
      max-width: 100%;
      .from-title {
        padding: 0;
        h3 {
          font-size: 2rem;
        }
      }
      .col-lg-6 {
        padding: 0px;
        .ex-textarea-wrap {
          border: none;
          margin: 0;
          padding: 0;
        }
      }
    }

    .banner-area {
      padding-top: 9rem;
      padding-bottom: 3rem;
      background-image: none;
      text-align: center;
      img {
        width: 100%;
        max-width: 320px;
      }
      .order-md-first {
        margin-top: 1rem !important;
      }
    }
  }

  @media (max-width: 480px) {
    .banner-area {
      padding-top: 9rem;
      padding-bottom: 2rem;
      h2 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.1rem;
      }
    }

    form.ex-form {
      padding: 2rem;
      max-width: 100%;
      .from-title {
        padding: 0;
        h3 {
          font-size: 1.6rem;
        }
      }
    }
  }
}
