.ux-design-page {
  .banner-area {
    margin-bottom: 0px;
    background-color: #fff;
  }
  > section {
    margin-bottom: 0px;
    padding: 6rem 0;
    .align-items-center {
      justify-content: space-between;
      .align-right {
        text-align: right;
      }
      img {
        width: 100%;
        max-width: 480px;
        display: block;
        margin: 0 auto;
      }
    }
  }
  > .row-1 {
    background-color: #d5dafd;
  }
  > .row-2 {
    background-color: #effdfb;
  }
  > .row-3 {
    background-color: #fff4f5;
  }
  > .row-4 {
    background-color: #f8fbfe;
  }
  > .row-5 {
    background-color: #fff4f5;
  }
  > .row-6 {
    background-color: #effdfb;
  }

  @media (max-width: 767px) {
    > section {
      padding: 3rem 0;
      .align-items-center {
        justify-content: space-between;
        .align-right {
          text-align: right;
        }
        img {
          max-width: 380px;
          margin-bottom: 3rem;
        }
      }
    }
  }
}
