.about-page {
  .banner-area {
    background-image: url(../../images/curve-bnr-bg.svg) no-repeat 50% 0 / cover;
    h2 {
      text-align: center;
    }
  
    .bnr-image {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  h2.center-title {
    text-align: center;
  }
  .principles-sec {
    border: 2px solid #ddd;
    border-radius: 3rem;
    text-align: center;
  
    .text-container:nth-child(3n + 2) {
      border-left: 2px solid #ddd;
      border-right: 2px solid #ddd;
    }
  
    .top-col {
      border-bottom: 2px solid #ddd;
    }
  
    .text-container {
      padding: 4rem;
      img {
        width: 5rem;
        margin-bottom: 3rem;
      }
      h5 {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 2rem;
      }
      h5:after {
        content: "";
        width: 4rem;
        height: 3px;
        background-color: red;
        display: block;
        margin: 1.6rem auto 0 auto;
      }
    }
  }
  
  .deployment-sec {
    .deployment-title {
      width: 80%;
    }
    .deployment-img {
      margin-top: -20%;
    }
  }
  
  section {
    h6 {
      font-size: 1.4rem;
      color: #07078ec9;
    }
  }
  
  .partner-sec {
    h6 {
      background-color: #000;
      text-align: center;
      padding: 3rem;
      color: #fff;
      margin: 0 auto;
    }
  }
  
  .bg-sec {
    background-color: #efe6e6ab;
    padding: 5rem;
    border-radius: 2rem;
    .left-align {
      text-align: left;
      padding-right: 10rem;
    }
    .right-align {
      text-align: right;
      padding-left: 10rem;
    }
    h5 {
      font-weight: bold;
    }
  }
}